# Ignore Terraform state and backup files
.terraform/
*.tfstate
*.tfstate.*

# Ignore Node.js dependencies
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore sensitive credentials
*.env